.App {
 text-align: center;
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

.container {
 color: white;
 background-color: white;
}

.complete {
 text-decoration: line-through;
 opacity: 0.4;
}

img.SwiperImage {
 padding: 70px;
 background-color: transparent;
 transition: transform 2s;
 width: 300px;
 height: 300px;
 margin: 0 auto;
 filter: brightness(100%);
}

img.SwiperImage:hover {
 filter: brightness(105%);
 transform: scale(1.2);
}
img.RPSImage:hover {
 cursor: pointer;
 filter: brightness(105%);
 transform: scale(1.2);
}
div.confirmChoise {
 padding: 40px;
}
div.confirmChoise button {
 margin: 10px;
 width: 100px;
 height: 50px;
}
div.swiper1 {
 margin-top: 50px;
}
div.navLinks a {
 color: white;
 margin: 10px;
}
div.RPC {
 align-items: center;
 align-content: center;
 align-self: center;
 display: flex;
 flex-direction: row;
}
div.RPC div {
 align-items: center;
 align-content: center;
 align-self: center;
}
