@import url('./App.css');
@import url('./AuthPage.css');
@import url('./Footer.css');
@import url('./Games.css');
@import url('./Home.css');
@import url('./MainProfile.css');
@import url('./Navbar.css');
@import url('./Posts.css');
@import url('./ReviewedGames.css');
@import url('./SelectedGame.css');

body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
 cursor: pointer;
}
